*{
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
html{
  height: 100vh;
}
:root {
  --main-color       : #1F3C4D;
  --title-color      : #0D1E2B;
  --text-color       : #45637D;
  --light-text-color : WHITE;
  --border-color     : #A0A7AC;
  --container-color  : WHITE;
  --body-color       : #D9D4D3;
}

body {
  background : var(--body-color);
  color      : var(--text-color);
}