.login{
    height: 100vh;
}

.buttonsSection{
    width: 55%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}